[submodule "vendor/spree"]
	path = vendor/spree
	url = git://github.com/railsdog/spree.git
[submodule "vendor/extensions/blog"]
	path = vendor/extensions/blog
	url = git://github.com/paulcc/spree-blog.git
[submodule "vendor/extensions/reviews"]
	path = vendor/extensions/reviews
	url = git://github.com/paulcc/spree-reviews.git
[submodule "vendor/extensions/promotions"]
	path = vendor/extensions/promotions
	url = git://github.com/paulcc/spree-promotions.git
[submodule "vendor/extensions/protx3ds_gateway"]
	path = vendor/extensions/protx3ds_gateway
	url = git://github.com/paulcc/spree-protx3ds-gateway.git
[submodule "vendor/extensions/accessories"]
	path = vendor/extensions/accessories
	url = git://github.com/paulcc/spree-accessories.git
